:'<,'>s#shell#Shell#g
:'<,'>s#,#，#g
:'<,'>s#(#（#g
:'<,'>s#)#）#g
:'<,'>s#[` ]*\([a-zA-Z'"0-9 ;:/,!+-_><\&\|]\{1,\}\)[` ]*# `\1` #g
:'<,'>s#（ #（#g
:'<,'>s# ）#）#g
:'<,'>s#， #，#g
:'<,'>s#`Shell`#Shell#g
:'<,'>s#`C`#C#g
:'<,'>s#`\([0-9]\{1,\}\)`#\1#g
