:%s#\[\([0-9]*\)\]\[#\[\\[\1\\]\]\[##g
:'<,'>s#shell#Shell#g
:'<,'>s#,#，#g
:'<,'>s#[` ]*\([a-zA-Z'"0-9 \$?%;()\*:/,!+-_><\&\|]\{1,\}\)[` ]*# `\1` #g
:'<,'>s#（ #（#g
:'<,'>s# ）#）#g
:'<,'>s#， #，#g
:'<,'>s#`Shell`#Shell#g
:'<,'>s#`Linux`#Linux#g
:'<,'>s#^ `Linux`#Linux#g
:'<,'>s#`C`#C#g
:'<,'>s# `\[` #\[#g
:'<,'>s# `\[ #\[#g
:'<,'>s# \]` #\]#g
:'<,'>s#`\[#\[#g
:'<,'>s#\]`#]#g
:'<,'>s#^ `#`#g
:'<,'>s#^`- `#-#g
:'<,'>s#^`-#-#g
:'<,'>s# `(` #（#g
:'<,'>s# `)` #）#g
:'<,'>s#)` #)#g
:'<,'>s# ` ##g
:'<,'>s# `](#](#g
:'<,'>s#（）##g
:'<,'>s#`\([0-9]\{1,\}\)`#\1#g
:%s# ，#，#g
